//@import "CSSmethods/vendor.styl"

/* CONSTANTS */
@HEADER_HEIGHT           : 46px;
@HEADER_GROUPBAR_HEIGHT  : 36px;

@ASIDE_WIDTH             : 256px;
@ASIDE_PADDING           : 6px;
@ASIDE_WIDTH_SMALL       : 64px;
@ASIDE_SMALL_ICON        : 48px;

@DEFAULT_TRANSITION      : cubic-bezier(0.645, 0.045, 0.355, 1.000);
@TRANSITION_TIME         : 500ms;


@FONT_SIZE_TINY          : 11px;
@FONT_SIZE_SMALL         : 0.9em;
@FONT_SIZE_NORMAL        : 1.0em;
@FONT_SIZE_BIG           : 1.2em;
@FONT_SIZE_LARGE         : 1.4em;

@LIST_IMAGE              : 66px;
@LIST_BIG_IMAGE          : 120px;
@LIST_SMALL_IMAGE        : 24px;

@INDENT                  : 0.8em;

@DETAIL_IMAGE            :;
@DETAIL_BIG_IMAGE        :;

@FORM_HEIGHT             : 30px;
@FORM_border             : 2px;
@FORM_border_height      : @FORM_HEIGHT + (@FORM_border * 4);
@FORM_PROGRESS_HEIGHT    : 5px;
@FORM_RADIO_BUTTON       : 26px;
@FORM_color              : #e5e5e5;

@BUTTON_HEIGHT           : 34px;
@BUTTON_color            : #fff;
@BUTTON_border           : #ccc;
@BUTTON_border_radius    : 0.25rem;
@BUTTON_submit_font      : #fff;
@BUTTON_submit_color     : #0095c1;
@BUTTON_submit_border    : #006e79;

@SUCCESS                 : #2ecc71;

.vendor(@name, @args) {
  -webkit-@{name}: @args;
  -moz-@{name}: @args;
  -ms-@{name}: @args;
  -o-@{name}: @args;
  @{name}: @args;
}

.box-sizing(@value){
  .vendor(box-sizing, @value);
}
.display-box(){
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
}
.box-flex(@value){
  .vendor(box-flex, @value);
}
.box-orient(@value){
  .vendor(box-orient, @value);
}
.box-pack(@value){
  .vendor(box-pack, @value);
}
.box-align(@value){
  .vendor(box-align, @value);
}
.ordinal-group(@value){
  .vendor(box-ordinal-group, @value);
}
.border-radius(@value){
  .vendor(border-radius, @value);
}
.transform(@value){
  .vendor(transform, @value);
}
.transform-origin(@value){
  .vendor(transform-origin, @value);
}
.transition(@value){
  .vendor(transition, @value);
}
/**
 * Stylesheet
 *
 * @namespace Lungo
 * @class Base
 *
 * @author Javier Jimenez Villar <javi@tapquo.com> || @soyjavi
 */

a,
abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
caption,
cite,
code,
dd,
del,
dfn,
dialog,
div,
dl,
dt,
em,
fieldset,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}


audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {display: none;}
[hidden]  {display: none;}

html {
  width: 100%;
  height: 100%;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-y: visible !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: moz-none;
  user-select: none;


  // @TODO: Why??
  // -webkit-box-orient: vertical
  // -webkit-box-align: stretch
  // -webkit-tap-highlight-color: rgba(0,0,0,0)
  .display-box();

  * {
    .box-sizing(border-box);
    margin: 0;
    padding: 0;
    // -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  }
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  :hover {
    opacity: 1;
  }
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
  font-size: 0;
}

// strong
//   font-weight: 600

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th, td, caption {
  vertical-align: top;
  text-align: left;
}

/* ================
@media="all"{
  ::-webkit-scrollbar{
    width: 1px;
    height: 1px;
  }
}
======== */