//@import "CSSmethods/vendor.styl"

/* CONSTANTS */
@HEADER_HEIGHT           : 46px;
@HEADER_GROUPBAR_HEIGHT  : 36px;

@ASIDE_WIDTH             : 256px;
@ASIDE_PADDING           : 6px;
@ASIDE_WIDTH_SMALL       : 64px;
@ASIDE_SMALL_ICON        : 48px;

@DEFAULT_TRANSITION      : cubic-bezier(0.645, 0.045, 0.355, 1.000);
@TRANSITION_TIME         : 500ms;


@FONT_SIZE_TINY          : 11px;
@FONT_SIZE_SMALL         : 0.9em;
@FONT_SIZE_NORMAL        : 1.0em;
@FONT_SIZE_BIG           : 1.2em;
@FONT_SIZE_LARGE         : 1.4em;

@LIST_IMAGE              : 66px;
@LIST_BIG_IMAGE          : 120px;
@LIST_SMALL_IMAGE        : 24px;

@INDENT                  : 0.8em;

@DETAIL_IMAGE            :;
@DETAIL_BIG_IMAGE        :;

@FORM_HEIGHT             : 30px;
@FORM_border             : 2px;
@FORM_border_height      : @FORM_HEIGHT + (@FORM_border * 4);
@FORM_PROGRESS_HEIGHT    : 5px;
@FORM_RADIO_BUTTON       : 26px;
@FORM_color              : #e5e5e5;

@BUTTON_HEIGHT           : 34px;
@BUTTON_color            : #fff;
@BUTTON_border           : #ccc;
@BUTTON_border_radius    : 0.25rem;
@BUTTON_submit_font      : #fff;
@BUTTON_submit_color     : #0095c1;
@BUTTON_submit_border    : #006e79;

@SUCCESS                 : #2ecc71;

.vendor(@name, @args) {
  -webkit-@{name}: @args;
  -moz-@{name}: @args;
  -ms-@{name}: @args;
  -o-@{name}: @args;
  @{name}: @args;
}

.box-sizing(@value){
  .vendor(box-sizing, @value);
}
.display-box(){
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
}
.box-flex(@value){
  .vendor(box-flex, @value);
}
.box-orient(@value){
  .vendor(box-orient, @value);
}
.box-pack(@value){
  .vendor(box-pack, @value);
}
.box-align(@value){
  .vendor(box-align, @value);
}
.ordinal-group(@value){
  .vendor(box-ordinal-group, @value);
}
.border-radius(@value){
  .vendor(border-radius, @value);
}
.transform(@value){
  .vendor(transform, @value);
}
.transform-origin(@value){
  .vendor(transform-origin, @value);
}
.transition(@value){
  .vendor(transition, @value);
}
/**
 * Stylesheet
 *
 * @namespace Lungo
 * @class Base
 *
 * @author Javier Jimenez Villar <javi@tapquo.com> || @soyjavi
 */

a,
abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
caption,
cite,
code,
dd,
del,
dfn,
dialog,
div,
dl,
dt,
em,
fieldset,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}


audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {display: none;}
[hidden]  {display: none;}

html {
  width: 100%;
  height: 100%;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-y: visible !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: moz-none;
  user-select: none;


  // @TODO: Why??
  // -webkit-box-orient: vertical
  // -webkit-box-align: stretch
  // -webkit-tap-highlight-color: rgba(0,0,0,0)
  .display-box();

  * {
    .box-sizing(border-box);
    margin: 0;
    padding: 0;
    // -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  }
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  :hover {
    opacity: 1;
  }
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
  font-size: 0;
}

// strong
//   font-weight: 600

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th, td, caption {
  vertical-align: top;
  text-align: left;
}

/* ================
@media="all"{
  ::-webkit-scrollbar{
    width: 1px;
    height: 1px;
  }
}
======== */
.detail {
  width: 87.5%;
  margin: 0 auto;
  padding-top: 15%;
  text-aligen: center;

  .info {
    &.big {
      img {
        display: block;
        width: 100%;
        height: 55%;
      }
    }
  }
}
/**
 * Stylesheet
 *
 * @namespace Lungo
 * @class Layout
 *
 * @author Javier Jimenez Villar <javi@tapquo.com> || @soyjavi
 */

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  /* ========================================================================= */
  /* ============================= ASIDE/SECTION ============================= */
  /* ========================================================================= */
  > aside,
  > section {
    .display-box();
    .box-orient(vertical);
    height: inherit;
    webkit-transform: translate3d(0,0,0);

    > header,
    > footer {
      .box-flex(0);
      z-index: 3;
      position: relative;
    }

    > header {
      .ordinal-group(1);

      // position: fixed
      // width: 100%
    }

    > article {
      .box-flex(1);
      .ordinal-group(2);
      z-index: -1;
      // padding-top: @HEADER_HEIGHT
    }

    > footer {
      .ordinal-group(3)
    }

    /* ============================= HEADER/FOOTER ============================= */
    > header,
    > footer {
      height: @HEADER_HEIGHT;
      line-height: @HEADER_HEIGHT;

      > nav {
        .box-flex(0);
      }

      > .title {
        z-index: -1;
        float: left;
        font-size: @FONT_SIZE_BIG;
        .box-flex(1);
        .centered {
          position: absolute;
          left: (@INDENT * 2);
          right: (@INDENT * 2);
          text-align: center;
          display: inline-block;
        }

        > .tag {
          position: relative;
          top: -0.1em;
          left: 0.25em;
        }
      }

      > img.title {
        @PAD: 18px;
        height: (@HEADER_HEIGHT - @PAD);
        margin: (@PAD / 2) auto;
      }
    }

    /* ================================ ARTICLE ================================ */
    > article {
      visibility: hidden;
      display: none;
    }
    &.show > article.active,
    &.hide > article.active,
    &.hiding > article.active {
      visibility: visible;
      display: block;
      z-index: 1;
      height: inherit;
      &.pull {
        .vendor(transition-property, transform);
        .vendor(transition-duration, @TRANSITION_TIME);
      }
    }
    &[data-article].hide {
      display: none;
    }
  }

  /* ========================================================================= */
  /* ================================ SECTION ================================ */
  /* ========================================================================= */
  > section {
    width: inherit;
    z-index: -1;
    .show {
      z-index: 1;
    }
  }

  /* ========================================================================= */
  /* ================================= ASIDE ================================= */
  /* ========================================================================= */
  > aside {
    width: @ASIDE_WIDTH;
    display: none;
    z-index: -1;
    > header {
      .title {
        margin: 0 @INDENT;
      }
    }

    .active,
    .show {
      .display-box()
    }
    .show {
      z-index: 0;
    }
    .right {
      right: 0;
    }
  }

  /* ========================================================================= */
  /* =============================== EXCLUDE OS ============================== */
  /* ========================================================================= */

  [data-os=ios] {
    [data-os=android],
    [data-os=blackerry],
    [data-os=firefoxos] {
      display: none;
    }
  }

  [data-os=android] {
    [data-os=ios],
    [data-os=blackerry],
    [data-os=firefoxos] {
      display: none;
    }
  }
  [data-os=blackberry] {
    [data-os=android],
    [data-os=ios],
    [data-os=firefoxos] {
      display: none;
    }
  }
  [data-os=firefoxos] {
    [data-os=android],
    [data-os=ios],
    [data-os=blackberry] {
      display: none;
    }
  }
}
/**
 * Stylesheet
 *
 * @namespace Lungo.Layout
 * @class List
 *
 * @author Javier Jimenez Villar <javi@tapquo.com> || @soyjavi
 */

.list {
  li {
    list-style-type: none;
    position: relative;
    text-align: -webkit-match-parent;
    line-height: inherit;

    &:not(.big) {
      padding: @INDENT;
    }

    &.thumb {
      .display-box();
      .box-orient(horizontal);
      > div {
        .box-flex(1);
      }

      &.big {
        > img {
          width: @LIST_BIG_IMAGE;
          height: @LIST_BIG_IMAGE;
        }
        > div {
          padding: 0.25em (@INDENT / 2);
        }
      }

      &:not(.big) {
        > img {
          width: @LIST_IMAGE;
          height: @LIST_IMAGE;
        }
        > div {
          padding-left: @INDENT;
        }
      }
    }

    &.arrow:after {
      @SIZE: 0.5em;
      position: absolute;
      right: @SIZE;
      top: 45%;
      width: @SIZE;
      height: @SIZE;
      content: '';
      border-right: (@SIZE / 2) solid;
      border-top: (@SIZE / 2) solid;
      .vendor(transform, rotate(45deg));
    }

    a {
      display: block;
      text-decoration: none;
    }

    &.anchor {
      padding: 0.25em 0.5em;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    strong,
    small {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: block;
    }

    small + .on-right {
      margin-left: 0;
      margin-top: -1.4em;
    }

    small,
    .anchor{
      font-size: @FONT_SIZE_SMALL;
    }
  }

  &.indented li:not(:last-child) {
    margin-bottom: @INDENT;
  }
}
/**
 * Stylesheet
 *
 * @namespace Lungo.Layout
 * @class Nav
 *
 * @author Javier Jimenez Villar <javi@tapquo.com> || @soyjavi
 */

nav {
  &[data-control=groupbar], footer & {
    .display-box();
    .box-pack(justify);
    width: 100%;
    & > a {
      .box-flex(1);
      text-decoration: none;
    }
  }


  /* ========================================================================= */
  /* =============================== GROUPBAR ================================ */
  /* ========================================================================= */
  &[data-control=groupbar] {
    z-index: 2;
    height: @HEADER_GROUPBAR_HEIGHT;
    width: 100%;
    font-size: @FONT_SIZE_SMALL;
    line-height: @HEADER_GROUPBAR_HEIGHT;
    & > a {
      padding:0;
      margin:0;
      height: @HEADER_GROUPBAR_HEIGHT !important;
      display: block;
      text-align: center;
      & .icon, .tag {
        margin: 0 0.2em;
        line-height: inherit;
      }
    }
  }

  /* ========================================================================= */
  /* ================================ FOOTER ================================= */
  /* ========================================================================= */
  footer & {
    & a {
      display: block;
      padding: 0;
      height:  @HEADER_HEIGHT;
      text-align: center;
    }

    & .icon {
      font-size: 2.0em;
      line-height: inherit;
      width: @HEADER_HEIGHT;
      display: inline-block;
    }

    & .tag {
      position: relative;
      @SIZE: -12px;
      top:  @SIZE;
      left: @SIZE;
      margin-right: -24px;
      & .loading {
        top: 0;
        font-size: 1.4em;
      }
    }

    abbr {
      display: none;
    }

    &.with-labels {
      & .icon {
        font-size: 1.8em;
        line-height: 1.0em;
      }
      & abbr {
        z-index: 1;
        display: block !important;
        margin-top: -1.3em;

        font-size: @FONT_SIZE_TINY;
        line-height: @FONT_SIZE_TINY;

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}

/**
 * Stylesheet
 *
 * @namespace Lungo.Media
 * @class Phone

 *
 * @author Javier Jimenez Villar <javi@tapquo.com> || @soyjavi
 */


/* ==== Any phone ==== */
@media only screen and (max-width: 767px) {
  body {
    .vendor(perspective, 800px);
    .vendor(transform-style, preserve-3d);

    &[data-position="absolute"] > section {
      position: absolute;
    }
    &[data-position="fixed"] > section {
      position: fixed;
    }

    > aside {
      z-index: 0;
      position: absolute;
      &:not(.show) {
        z-index: -1;
      }
    }

    > section {
      display: none;
      &:not([data-transition]).show {
        display: block;
      }
      &.aside {
        .vendor(transform, translateX(@ASIDE_WIDTH));
      }
      &.aside-right{
        .vendor(transform, translateX(-(@ASIDE_WIDTH)));
      }
    }

    [data-transition],
    [data-aside-transition] {
      .display-box();
      .vendor(backface-visibility, hidden);
      .vendor(animation-duration, @TRANSITION_TIME);
      .vendor(animation-timing-function, @DEFAULT_TRANSITION);
      .vendor(animation-fill-mode, forwards);
      visibility: hidden;
      &.show {
        visibility: visible;
      }
    }
  }
}
//@import "__init.styl"


/* ==== Tablet ==== */
@media only screen and (min-width: 768px) {
  body {
    .display-box();
    .box-orient(horizontal);
    overflow: hidden;
    .vendor(perspective, 800px);
    .vendor(transform-style, preserve-3d);

    div.notification {
      position: absolute !important;
    }

    > section,
    > aside {
      .vendor(backface-visibility, hidden);
      .vendor(animation-timing-function, @DEFAULT_TRANSITION);
      .vendor(animation-duration, @TRANSITION_TIME);
      .vendor(animation-fill-mode, forwards);
    }

    > aside {
      &.box {
        z-index: 0;
        display: none;
        &.show {
          .ordinal-group(1);
          .display-box();
        }
        &.right {
          .ordinal-group(3);
        }
      }

      &:not(.box) {
        position: absolute;
        z-index: 0;
        left: 0;
        top: 0;
        visibility: hidden;
        &.show {
          visibility: visible;
        }
      }
    }

    > section {
      z-index: 1;
      display: none;
      &.show {
        .ordinal-group(2);
        .display-box();
      }

      &.asideShowing {
        z-index: 2;
        .vendor(animation-name, withAside);
      }
      &.asideHidding {
        .vendor(animation-name, withoutAside);
      }
      &.aside {
        z-index: 2;
        .vendor(transform, translateX(@ASIDE_WIDTH));
      }

      &.shadowing {
        .vendor(animation-name, withAsideOpacity);
      }
      &.unshadowing {
        .vendor(animation-name, withoutAsideOpacity);
      }
      &.shadow {
        .vendor(transform, translateX(@ASIDE_WIDTH));
        opacity: .6;
      }

      &.hide,
      &.hide * {
        opacity: 0;
      }

      &:not([data-children]) {
        .box-flex(1);
      }

      &[data-children]{
        width: 320px;
      }
    }
  }
}


@keyframes withAside {
  0%   {.vendor(transform, translateX(0));}
  100% {.vendor(transform, translateX(@ASIDE_WIDTH));}
}

@keyframes withoutAside {
  0%   {.vendor(transform, translateX(@ASIDE_WIDTH));}
  100% {.vendor(transform, translateX(0));}
}

@keyframes withAsideOpacity {
  0%   {.vendor(transform, translateX(0));}
  100% {.vendor(transform, translateX(@ASIDE_WIDTH)); opacity: .6;}
}

@keyframes withoutAsideOpacity {
  0%   {.vendor(transform, translateX(@ASIDE_WIDTH)); opacity: .6;}
  100% {.vendor(transform, translateX(0));}
}


body {
  background-color: #f5f5f5;
}
section {
  header {
    border-bottom: 1px solid #e1e2e3;

    .login {
      a {
        color: #03919f;
      }
    }
  }
}

.list {
  li {

    &:not(.user){
      background-color: #fff;
    }
    &.file_info {
      border-bottom: 1px solid #edead3;
      color: #707070;
      background-color: #faf8e5;
    }
    &.files,
    &.user {
      border-bottom: 1px solid #e1e2e3;

      small {
        color: #afafaf;
      }
    }
  }
}

form,
.form {
  input[type=checkbox] {
    background-color: @FORM_color;
    border: 1px solid @FORM_color;
    .vendor(box-shadow, inset 0 0 0 1px @FORM_color);

    &:after {
      background-color: #fff;
      border: 1px solid @FORM_color;
    }
    &:checked {
      border-color: @SUCCESS;
      box-shadow: inset 0 0 0 13px @SUCCESS;
      &:after {
        border-color: @SUCCESS;
      }
    }
  }
}

.notification {
  background-color: rgba(0,0,0,0.5);

  & .window {
    .vendor(box-shadow, 0 0 0 3px rgba(0,0,0,0.1));

    &.html {
      background-color: #fff;
    }
    &.growl {
      background-color: rgba(0,0,0,0.8);
    }
  }
}
/**
 * Stylesheet
 *
 * @namespace Lungo.Widgets
 * @class Button
 *
 * @author Javier Jimenez Villar <javi@tapquo.com> || @soyjavi
 */

.button,
button {
  display: inline-block;
  border: 1px solid @BUTTON_border;
  .vendor(border-radius, @BUTTON_border_radius);
  cursor: pointer;
  font-family: inherit;
  font-weight: inherit;
  text-align: center;
  text-decoration: none;
  outline: none;
  background: none;
  background-color: @BUTTON_color;
  font-size: inherit;

  &.submit {
    color: @BUTTON_submit_font;
    border-color: @BUTTON_submit_border;
    background-color: @BUTTON_submit_color;
  }

  header & {
    & > abbr {
      font-size: @FONT_SIZE_SMALL;
    }
    & .icon + abbr {
      position: relative;
      left: 0.3em;
      top: 0.5em;
      float: right;
    }
  }

  article & {
    line-height: 2.5em;
    &.icon {
      padding: 0 0.65em;
    }
    &:not(.icon) {
      padding: 0 1em;
      & .icon + abbr {
        margin-left: 0.5em;
      }
    }

    &.large {
      font-size: @FONT_SIZE_LARGE;
    }
    &.small {
      font-size: @FONT_SIZE_SMALL;
      line-height: 2.25em;
    }
    &.tiny {
      font-size: @FONT_SIZE_TINY;
      line-height: 2.0em;
      padding: 0 0.6em;
    }
    &.anchor {
      width: 100%;
      position: relative;
      padding: 0;
      &:not(.icon) .icon {
        position: absolute;
        left: 1.0em;
      }
    }
  }
}
/**
 * Stylesheet
 *
 * @namespace Lungo.Widgets
 * @class Form
 *
 * @author Javier Jimenez Villar <javi@tapquo.com> || @soyjavi
 */

form,
.form {
  label:not(.select) {
    display: inline-block;
    font-size: @FONT_SIZE_SMALL;
    line-height: inherit;
    margin: 0.15em 0;
  }

  input:not([type="checkbox"]),
  textarea,
  select,
  .progress,
  label.select,
  [data-control-progress] {
    font-size: @FONT_SIZE_NORMAL;
    &.large {
      font-size: @FONT_SIZE_BIG;
    }
  }

  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  select,
  textarea,
  label.select {
    display: inline-block;
    width: 100%;
    margin: 0.5em 0;
    padding: 0 0.5em;
    .transition(all 100ms linear);
    font-family: inherit;
    -webkit-appearance: none;
    -webkit-user-select: text;
    border: 0;
    &:focus {
      outline: none !important;
    }
    &.border {
      &,
      > select {
        padding: 0.3em 0.4em;
      }
    }
  }

  textarea {
    min-height: 2.5em;
    line-height: @FONT_SIZE_BIG;
  }

  fieldset {
    position: relative;
    padding: 0 1.5em;

    > label:not(.select) {
      float: left;
      width: 20%;
      margin: 0.5em 0;
      line-height: 1.75em;
      &.absolute {
        position: absolute;
      }
      &.anchor {
        width: auto;
        overflow: hidden;
      }
    }

    > label:not(.absolute) + input:not([type="checkbox"]),
    > label:not(.absolute) + label.select {
      width: 80%;
    }

    > label:not(.absolute) + input[type="checkbox"] {
      margin-top: 0.5em;
    }

    input[type="text"],
    input[type="password"],
    input[type="date"],
    input[type="datetime"],
    input[type="email"],
    input[type="number"],
    input[type="search"],
    input[type="tel"],
    input[type="time"],
    input[type="url"],
    textarea {
      .vendor(box-shadow, none);
      border: none;
      border-radius: 0;
      padding: 0 0.3em;
      line-height: 1.5em;
      &, &:focus {
        background: none;
      }
    }


    input[type="checkbox"] {
      float: right;
    }

    label.select {
      line-height: 1.5em;
    }
  }


  .indented & fieldset {
    > label:not(.select):not(.anchor) {
      width: 25%;
    }
    > label:not(.absolute) + input:not([type="checkbox"]),
    > label:not(.absolute) + label.select {
      width: 75%;
    }
  }

  label.select {
    position: relative;
    display: inline-block;
    font-size: inherit;
    line-height: inherit;
    padding: 0 !important;
    > select {
      border-radius: 0 !important;
      margin: 0;
      padding: 0 0.4em;
    }
    &:after {
      position: absolute;
      top: 0.15em;
      right: 0.3em;
      content: "▼";
      pointer-events: none;
      text-align: center;
    }
  }

  /* -------------------------- RANGE -------------------------- */
  input[type="range"] {
    -webkit-appearance: none;
    outline: none;
    height: @FORM_PROGRESS_HEIGHT;
    width: 100%;
    padding: 0;
    border: none;
    margin: 1em 0;
    background: red;
    &::-webkit-slider-thumb {
      position: relative;
      width: @FORM_RADIO_BUTTON;
      height: @FORM_RADIO_BUTTON;
      -webkit-appearance: none;
      border: none;
    }
  }

  /* -------------------------- PROGRESS -------------------------- */
  [data-progress] {
    width: 100%;
    margin-bottom: 0.5em;
    .bar {
      height: @FORM_PROGRESS_HEIGHT;
      line-height: @FORM_PROGRESS_HEIGHT;
      display: block;

      .value {
        display: block;
        height: inherit;
        width: 0%;
        .transition(width @TRANSITION_TIME @DEFAULT_TRANSITION);
      }
    }
  }

  /* -------------------------- CHECKBOX -------------------------- */
  input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -webkit-user-select: text;
    border-radius: @FORM_RADIO_BUTTON;
    cursor: pointer;
    height: (@FORM_RADIO_BUTTON + 2);
    position: relative;
    transition: border .25s .15s,
                box-shadow .25s .3s,
                padding .25s;
    width: 44px;
    vertical-align: top;

    &:after {
      @BUTTON : (@FORM_RADIO_BUTTON - 2);
      border-radius: @BUTTON;
      box-shadow: inset 0 -3px 3px hsla(0,0%,0%,.025),
                  0 1px 4px hsla(0,0%,0%,.15),
                  0 4px 4px hsla(0,0%,0%,.1);
      content: '';
      display: block;
      height: @BUTTON;
      left: 0;
      position: absolute;
      right: 16px;
      top: 0;
      transition: border .25s .15s, left .25s .1s, right .15s .175s;
    }

    &:checked {
      padding-left: 18px;
      transition: border .25s, box-shadow .25s, padding .25s .15s;
      &:after {
        left: 16px;
        right: 0;
        transition: border .25s, left .15s .25s, right .25s .175s;
      }
    }
  }
}



/**
 * Stylesheet
 *
 * @namespace Lungo.Layout
 * @class Widgets
 *
 * @author Javier Jimenez Villar <javi@tapquo.com> || @soyjavi
 */

/* ================================  CLASSES  ================================ */
.hidden {
  display: none;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}

//@INDENT: (@INDENT / 1.5);
.indented > * {
  padding: @INDENT;
}
.margined > * {
  margin: @INDENT;
}

.margin-top {
  margin-top: @INDENT;
}
.margin-right {
  margin-right: @INDENT;
}
.margin-bottom {
  margin-bottom: @INDENT;
}
.margin-left {
  margin-left: @INDENT;
}


.on-left {
  float: left;
}
.on-right {
  float: right;
}

/* ================================  SCROLL  ================================ */
.overthrow-enabled .overthrow {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.scroll {
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-box-flex: 1;

  // & > *
  //   background: -webkit-linear-gradient(white 30%, hsla(0,0%,100%,0)), -webkit-linear-gradient(hsla(0,0%,100%,0), white 70%) bottom, -webkit-radial-gradient(50% 0, rgba(0,0,0,.2), transparent 70%), -webkit-radial-gradient(50% 100%, rgba(0,0,0,.2), transparent 70%) bottom;
  //   background-repeat: no-repeat;
  //   background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  //   background-attachment: local, local, scroll, scroll;


  &.horizontal {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }

  /* BUG (iOS) POSITION: relative childrens */
  * {
    -webkit-transform: translate3d(0, 0, 0);
  }
}

/* ================================  TAG  ================================ */
.tag {
  @SIZE: 16px;
  font-size: @FONT_SIZE_TINY;
  min-width: @SIZE + 1;
  height: @SIZE;
  line-height: @SIZE !important;
  text-align: center;
  z-index: 1;
  display: inline-block !important;
}

/* ================================  .LAYOUT  ================================ */
.layout {
  .display-box();
  height:  inherit !important;
  &:not(.horizontal) {
    .box-orient(vertical);
    > [data-layout=middle] {
      height: 50%;
    }
    > [data-layout=third] {
      height: 33%
    }
    > [data-layout=quarter] {
      height: 25%
    }
  }

  &.horizontal {
    .box-orient(horizontal);
    > [data-layout=middle] {
      width: 50%;
    }
    > [data-layout=third] {
      width: 33%;
    }
    > [data-layout=quarter] {
      width: 25%;
    }
  }

  > * {
    .box-flex(1);
  }
  > [data-layout=secondary] {
    .box-flex(2);
  }
  > [data-layout=primary] {
    .box-flex(3);
  }
}

/* ================================  MENU  ================================ */
[data-view-menu] {
  &:after {
    content: "▼";
    position: relative;
    top: -5px;
    left: 1px;
    font-size: FONT_SIZE_TINY;
  }
}


/* ================================  CAROUSEL  ================================ */
[data-control=carousel]{
  overflow: hidden;
  list-style: none;
  margin: 0;
}


/* ================================  SPLASH  ================================ */
body > section > article.splash {
  text-align: center;
  padding: (@INDENT * 2.5);
  .logo {
    max-width: 192px;
    margin: 20% 0 7.5% 0;
    font-size: 2.2em;
  }
  .button,
  button {
    margin-bottom: (@INDENT / 1.5);
  }
  .copyright {
    position: absolute;
    width: 100%;
    bottom: 8px;
    left: 0;
    font-size: @FONT_SIZE_TINY;
    padding: 0;
  }
}
/**
 * Stylesheet
 *
 * @namespace Lungo.Widgets
 * @class Loading
 *
 * @author Javier Jimenez Villar <javi@tapquo.com> || @soyjavi
 */

.loading {
  position: relative;
  left: 50%;
  height: 1em;
  width: 1em;
  margin-left: -.5em;
  .transform-origin(.5em .5em);
  font-size: 48px;
  &.disable {
    -webkit-animation: none;
    -moz-animation: none;
    display: none;
  }

  > span {
    left: 50%;
    margin-left: -0.05em;

    &,
    &::before,
    &::after {
      display: block;
      position: absolute;
      width: .1em;
      height: .25em;
      top: 0;
      .transform-origin( .05em .5em );
      .border-radius( .1em );
    }

    &::before,
    &::after {
      content: " ";
    }

    &.top {
      .transform(rotate(0deg));
    }
    &.right {
      .transform(rotate(90deg));
    }
    &.bottom {
      .transform(rotate(180deg));
    }
    &.left {
      .transform(rotate(270deg));
    }
    &::before {
      .transform(rotate(30deg));
    }
    &::after {
      .transform(rotate(-30deg));
    }

    &.top {
      background-color: rgba(0,0,0,0.99);
    }
    &.top::after {
      background-color: rgba(0,0,0,0.90);
    }
    &.left::before {
      background-color: rgba(0,0,0,0.80);
    }
    &.left {
      background-color: rgba(0,0,0,0.70);
    }
    &.left::after {
      background-color: rgba(0,0,0,0.60);
    }
    &.bottom::before {
      background-color: rgba(0,0,0,0.50);
    }
    &.bottom {
      background-color: rgba(0,0,0,0.40);
    }
    &.bottom::after {
      background-color: rgba(0,0,0,0.35);
    }
    &.right::before {
      background-color: rgba(0,0,0,0.30);
    }
    &.right {
      background-color: rgba(0,0,0,0.25);
    }
    &.right::after {
      background-color: rgba(0,0,0,0.20);
    }
    &.top::before {
      background-color: rgba(0,0,0,0.15);
    }
  }

  &.white > span {
    &.top {
      background-color: rgba(255,255,255,0.99);
    }
    &.top::after {
      background-color: rgba(255,255,255,0.90);
    }
    &.left::before {
      background-color: rgba(255,255,255,0.80);
    }
    &.left {
      background-color: rgba(255,255,255,0.70);
    }
    &.left::after {
      background-color: rgba(255,255,255,0.60);
    }
    &.bottom::before {
      background-color: rgba(255,255,255,0.50);
    }
    &.bottom {
      background-color: rgba(255,255,255,0.40);
    }
    &.bottom::after {
      background-color: rgba(255,255,255,0.35);
    }
    &.right::before {
      background-color: rgba(255,255,255,0.30);
    }
    &.right {
      background-color: rgba(255,255,255,0.25);
    }
    &.right::after {
      background-color: rgba(255,255,255,0.20);
    }
    &.top::before {
      background-color: rgba(255,255,255,0.15);
    }
  }
}


section.show,
section.active,
.notification {
  .loading {
    -webkit-animation: rotatingLoader 600ms  infinite linear;
    moz-animation:  rotatingLoader 600ms  infinite linear;
  }
}


@-webkit-keyframes rotatingLoader {
  0% {
    .transform(rotate(0deg));
  }
  8.32% {
    .transform(rotate(0deg));
  }
  8.33% {
    .transform(rotate(30deg));
  }
  16.65% {
    .transform(rotate(30deg));
  }
  16.66% {
    .transform(rotate(60deg));
  }
  24.99% {
    .transform(rotate(60deg));
  }
  25% {
    .transform(rotate(90deg));
  }
  33.32% {
    .transform(rotate(90deg));
  }
  33.33% {
    .transform(rotate(120deg));
  }
  41.65% {
    .transform(rotate(120deg));
  }
  41.66% {
    .transform(rotate(150deg));
  }
  49.99% {
    .transform(rotate(150deg));
  }
  50% {
    .transform(rotate(180deg));
  }
  58.32% {
    .transform(rotate(180deg));
  }
  58.33% {
    .transform(rotate(210deg));
  }
  66.65% {
    .transform(rotate(210deg));
  }
  66.66% {
    .transform(rotate(240deg));
  }
  74.99% {
    .transform(rotate(240deg));
  }
  75% {
    .transform(rotate(270deg));
  }
  83.32% {
    .transform(rotate(270deg));
  }
  83.33% {
    .transform(rotate(300deg));
  }
  91.65% {
    .transform(rotate(300deg));
  }
  91.66% {
    .transform(rotate(330deg));
  }
  100% {
    .transform(rotate(330deg));
  }
}


@-moz-keyframes rotatingLoader {
  0% {
    .transform(rotate(0deg));
  }
  8.32% {
    .transform(rotate(0deg));
  }
  8.33% {
    .transform(rotate(30deg));
  }
  16.65% {
    .transform(rotate(30deg));
  }
  16.66% {
    .transform(rotate(60deg));
  }
  24.99% {
    .transform(rotate(60deg));
  }
  25% {
    .transform(rotate(90deg));
  }
  33.32% {
    .transform(rotate(90deg));
  }
  33.33% {
    .transform(rotate(120deg));
  }
  41.65% {
    .transform(rotate(120deg));
  }
  41.66% {
    .transform(rotate(150deg));
  }
  49.99% {
    .transform(rotate(150deg));
  }
  50% {
    .transform(rotate(180deg));
  }
  58.32% {
    .transform(rotate(180deg));
  }
  58.33% {
    .transform(rotate(210deg));
  }
  66.65% {
    .transform(rotate(210deg));
  }
  66.66% {
    .transform(rotate(240deg));
  }
  74.99% {
    .transform(rotate(240deg));
  }
  75% {
    .transform(rotate(270deg));
  }
  83.32% {
    .transform(rotate(270deg));
  }
  83.33% {
    .transform(rotate(300deg));
  }
  91.65% {
    .transform(rotate(300deg));
  }
  91.66% {
    .transform(rotate(330deg));
  }
  100% {
    .transform(rotate(330deg));
  }
}
/**
 * Stylesheet
 *
 * @namespace Lungo.Widgets
 * @class Notification
 *
 * @author Javier Jimenez Villar <javi@tapquo.com> || @soyjavi
 */

@LOADING: 104px;
@WINDOW_WIDTH: 100%;

.notification {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1980;
  display: none;

  &.show {
    .display-box();
    .box-align(center);
    .box-pack(center);
  }

  &.push {
    height: (@HEADER_HEIGHT / 1.75);
  }

  & .window {
    position: relative;
    opacity: 0;
    text-align: center;
    .vendor(transition-duration, (@TRANSITION_TIME / 2));
    .vendor(transition-timing-function, @DEFAULT_TRANSITION);
    .vendor(backface-visibility, hidden);

    &.show {
      opacity: 1;
    }

    &:not(.push) {
      @property: opacity, margin-top;
      .vendor(transition-property, @property);
      margin-top: 100%;
      &.show {
        margin-top: 0%;
      }
    }

    &.growl {
      width: @LOADING !important;
      height: @LOADING !important;
      & > * {
        position: absolute;
      }
      &, & > *:not(.loading) {
        width: @LOADING;
        text-align: center;
      }

      & > .loading {
        top: 28px;
      }
    }

    &.html {
      width: @WINDOW_WIDTH;
      margin-top: 100%;

      .title {
        height: @HEADER_HEIGHT;
        line-height: @HEADER_HEIGHT;
        font-size: @FONT_SIZE_BIG;
      }
    }
  }
}
.text {
  &.italic {
    font-style: italic;
  }
  &.underline {
    text-decoration: underline;
  }
  &.line-through {
    text-decoration: line-through;
  }
  &.align_left {
    text-align: left;
  }
  &.align_right {
    text-align: right;
  }
  &.align_center {
    text-align: center;
  }
  &.align_justify {
    text-align: justify;
  }
  &.tiny {
    font-size: 0.8em;
  }
  &.small {
    font-size: @FONT_SIZE_SMALL;
  }
  &.big {
    font-size: @FONT_SIZE_BIG;
  }
  &.large {
    font-size: @FONT_SIZE_LARGE;
  }
  &.opacity {
    opacity: 0.5;
  }
}

h1 {
  font-size: 1.6em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.4em;
}
h4 {
  font-size: 1.3em;
}
