//@import "CSSmethods/vendor.styl"

/* CONSTANTS */
@HEADER_HEIGHT           : 46px;
@ASIDE_WIDTH             : 256px;


.vendor(@name, @args) {
  -webkit-@{name}: @args;
  -moz-@{name}: @args;
  -ms-@{name}: @args;
  -o-@{name}: @args;
  @{name}: @args;
}

.box-sizing(@value){
  .vendor(box-sizing, @value);
}
.display-box(){
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
}
.box-flex(@value){
  .vendor(box-flex, @value);
}
.box-orient(@value){
  .vendor(box-orient, @value);
}
.box-pack(@value){
  .vendor(box-pack, @value);
}
.box-align(@value){
  .vendor(box-align, @value);
}
.ordinal-group(@value){
  .vendor(box-ordinal-group, @value);
}
.border-radius(@value){
  .vendor(border-radius, @value);
}
.transform(@value){
  .vendor(transform, @value);
}
.transform-origin(@value){
  .vendor(transform-origin, @value);
}
.transition(@value){
  .vendor(transition, @value);
}
/**
 * Stylesheet
 *
 * @class base
 */

a,
abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
caption,
cite,
code,
dd,
del,
dfn,
dialog,
div,
dl,
dt,
em,
fieldset,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}


audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {display: none;}
[hidden]  {display: none;}

html {
  width: 100%;
  height: 100%;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-y: visible !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: moz-none;
  user-select: none;

  .display-box();

  * {
    .box-sizing(border-box);
    margin: 0;
    padding: 0;
  }
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  :hover {
    opacity: 1;
  }
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
  font-size: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th, td, caption {
  vertical-align: top;
  text-align: left;
}
/**
 * Stylesheet
 *
 * @class layout.detail
 */

.detail {
  > * {
    width: 85%;
    margin: 0 auto;
    padding-top: 15%;
    text-align: center;
  }
}
/**
 * Stylesheet
 *
 * @class layout
 */

body {
  /* ================================================================
      ASIDE/SECTION
     ================================================================ */
  > aside,
  > section {
    .display-box();
    .box-orient(vertical);
    height: inherit;

    > header,
    > footer {
      .box-flex(0);
      z-index: 3;
      position: relative;
    }

    > header {
      .ordinal-group(1);
    }

    > article {
      .box-flex(1);
      .ordinal-group(2);
    }

    > footer {
      .ordinal-group(3);
    }

    /* ================ HEADER/FOOTER ================ */
    > header,
    > footer {
      height: @HEADER_HEIGHT;
      line-height: @HEADER_HEIGHT;

      > nav {
        .box-flex(0);
      }
    }

    /* ================ ARTICLE ================ */
    > article {
      visibility: hidden;
      display: none;
    }
    &.show > article.active,
    &.hide > article.active
    &.hiding > article.active {
      visibility: visible;
      display: block;
      z-index: 1;
      height: inherit;
    }
  }

  /* ================================================================
      SECTION
     ================================================================ */
  > section {
    width: inherit;
    z-index: -1;
    &.show {
      z-index: 1;
    }
  }

  /* ================================================================
      ASIDE (todo next)
     ================================================================ */
  > aside {
    width: @ASIDE_WIDTH;
    display: none;
    z-index: -1;

    > header {

    }

    &.active,
    &.show {
      .display-box();
    }
    &.show {
      z-index: 0;
    }
    &.right {
      right: 0;
    }
  }

  /* ================================================================
      EXCLUDE OS
     ================================================================ */

  [data-os=ios] {
    [data-os=android],
    [data-os=blackerry],
    [data-os=firefoxos] {
      display: none;
    }
  }

  [data-os=android] {
    [data-os=ios],
    [data-os=blackerry],
    [data-os=firefoxos] {
      display: none;
    }
  }
  [data-os=blackberry] {
    [data-os=android],
    [data-os=ios],
    [data-os=firefoxos] {
      display: none;
    }
  }
  [data-os=firefoxos] {
    [data-os=android],
    [data-os=ios],
    [data-os=blackberry] {
      display: none;
    }
  }
}
/**
 * Stylesheet
 *
 * @class layout.list
 */

.list {
  li {
    list-style-type: none;
    position: relative;
    line-height: inherit;

    &.thumb {
      .display-box();
      .box-orient(horizontal);

      > div {
        .box-flex(1);
      }
    }

    &:not(.big) {
      padding: .8em;
    }
    &.big {
      padding: 1em;
    }

    &.arrow:after {
      content: '';
      border-top: 1em solid;
      border-right: 1em solid;
      .vendor(transform, rotate(45deg));
    }

    &.anchor {
      padding: 0.25em;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    strong,
    small {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: block;
    }

    small {
      font-size: 0.9em;
    }
  }
}

/* ==== Any phone ==== */
@media only screen and (max-width: 767px) {
  body {
    &[data-position="absolute"] > section {
      position: absolute;
    }

    &[data-position="fixed"] > section {
      position: fixed;
    }

    > aside {
      z-index: 0;
      position: absolute;
    }
  }
}

/* ==== Tablet ==== */
@media only screen and (min-width: 768px) {
  body {
    .display-box();
    .box-orient(horizontal);
    overflow: hidden;

    > aside {
      position: absolute;
      z-index: 0;
      left: 0;
      top: 0;
      visibility: hidden;
      &.show {
        visibility: visible;
      }
    }
  }
}
/**
 * Stylesheet
 *
 * @class theme
 */

/* font */
@FONT_FAMILY: Helvetica Neue, Helvetica, Arial, sans-serif;

/* color */
@COLOR_PRIMARY                   : #079cda;
@COLOR_PRIMARY_DARK              : #0589c0;
@COLOR_ERROR                     : #d70000;
@COLOR_BORDER                    : #d3d3d3;
@COLOR_ANDROID                   : #53c22d;
@COLOR_ANDROID_DARK              : #53ad13;
@COLOR_WHITE                     : #fff;
@COLOR_BLACK                     : #000;

/* logo */
@LOGO_IMAGE                      : "../images/logo.png";
@LOGO_WIDTH                      : 97px;
@LOGO_HEIGHT                     : 29px;
@LOGO_LARGE_IMAGE                : "../images/logo-big.png";
@LOGO_LARGE_WIDTH                : 168px;
@LOGO_LARGE_HEIGHT               : 50px;

/* app-icon */
@APP_IMAGE                       : "../images/app-icon.png";
@APP_WIDTH                       : 22px;
@APP_HEIGHT                      : 22px;

/* text */
@TEXT_COLOR                      : #707070;
@TEXT_COLOR_PRIMARY              : @COLOR_PRIMARY;
@TEXT_COLOR_STRONG               : #404040;
@TEXT_COLOR_SMALL                : #afafaf;
@TEXT_COLOR_ERROR                : @COLOR_ERROR;

/* form */
@INTUT_BACKGROUND_COLOR          : @COLOR_WHITE;
@INTUT_BORDER_COLOR              : @COLOR_BORDER;
@INTUT_BORDER_COLOR_FOCUS        : @COLOR_PRIMARY;
@BUTTON_COLOR                    : @COLOR_PRIMARY;
@BUTTON_BACKGROUND_COLOR         : @COLOR_WHITE;
@BUTTON_BORDER_COLOR             : @COLOR_BORDER;
@BUTTOM_PRIMARY_COLOR            : @COLOR_WHITE;
@BUTTOM_PRIMARY_BACKGROUND_COLOR : @COLOR_PRIMARY;
@BUTTOM_PRIMARY_BORDER_COLOR     : @COLOR_PRIMARY_DARK;
@BUTTOM_IOS_COLOR                : @BUTTOM_PRIMARY_COLOR;
@BUTTOM_IOS_BACKGROUND_COLOR     : @BUTTOM_PRIMARY_BACKGROUND_COLOR;
@BUTTOM_IOS_BORDER_COLOR         : @BUTTOM_PRIMARY_BORDER_COLOR;
@BUTTOM_ANDROID_COLOR            : @COLOR_WHITE;
@BUTTOM_ANDROID_BACKGROUND_COLOR : @COLOR_ANDROID;
@BUTTOM_ANDROID_BORDER_COLOR     : @COLOR_ANDROID_DARK;


/* border */
@BORDER_WIDTH                    : 1px;
@BORDER_STYLE                    : solid;
@BORDER_COLOR                    : @COLOR_BORDER;
@BORDER_RADIUS                   : 4px;
@BORDER_COLOR_PRIMARY            : @COLOR_PRIMARY;
@BORDER_COLOR_ERROR              : @COLOR_ERROR;

/* list */
@LIST_BORDER_COLOR               : #e1e2e3;
@LIST_BACKGROUND_COLOR           : @COLOR_WHITE;
@LIST_ANCHOR_BORDER_COLOR        : #edead3;
@LIST_ANCHOR_BACKGROUND_COLOR    : #faf8e5;

html {
  font-family: @FONT_FAMILY;
  color: @TEXT_COLOR;
}

.logo {
  display: inline-block;
  width: @LOGO_WIDTH;
  height: @LOGO_HEIGHT;
  background-image: url(@LOGO_IMAGE);
  background-repeat: no-repeat;
  background-size: 100%;
}

.logo-large {
  display: inline-block;
  width: @LOGO_LARGE_WIDTH;
  height: @LOGO_LARGE_HEIGHT;
  background-image: url(@LOGO_LARGE_IMAGE);
  background-repeat: no-repeat;
  background-size: 100%;
}

.app-icon {
  display: inline-block;
  width: @APP_WIDTH;
  height: @APP_HEIGHT;
  background-image: url(@APP_IMAGE);
  background-repeat: no-repeat;
  background-size: 100%;
}
.app-icon.icon-iphone {
    background-position: 0 0;
}
.app-icon.icon-android {
    background-position: 0 -@APP_HEIGHT;
}
.app-icon.icon-download {
    background-position: 0 -@APP_HEIGHT*2;
}

.text {
  color: @TEXT_COLOR;
}
.border {
  border-width: @BORDER_WIDTH;
  border-style: @BORDER_STYLE;
  border-color: @BORDER_COLOR;
}


input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="number"],
input[type="range"],
input[type="date"],
input[type="seach"] {
  border-color: @INTUT_BORDER_COLOR;
  background-color: @INTUT_BACKGROUND_COLOR;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="number"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="seach"]:focus {
  border-color: @INTUT_BORDER_COLOR_FOCUS;
}

.button,
button {
  border-color: @BUTTON_BORDER_COLOR;
  color: @BUTTON_COLOR;
  background-color: @BUTTON_BACKGROUND_COLOR;
}
.button-primary {
  border-color: @BUTTOM_PRIMARY_BORDER_COLOR;
  color: @BUTTOM_PRIMARY_COLOR;
  background-color: @BUTTOM_PRIMARY_BACKGROUND_COLOR;

  &:active {
    background-color: @BUTTOM_PRIMARY_BORDER_COLOR;
  }
}
.button-ios {
  border-color: @BUTTOM_IOS_BORDER_COLOR;
  color: @BUTTOM_IOS_COLOR;
  background-color: @BUTTOM_IOS_BACKGROUND_COLOR;

  &:active {
    background-color: @BUTTOM_IOS_BORDER_COLOR;
  }
}
.button-android {
  border-color: @BUTTOM_ANDROID_BORDER_COLOR;
  color: @BUTTOM_ANDROID_COLOR;
  background-color: @BUTTOM_ANDROID_BACKGROUND_COLOR;

  &:active {
    background-color: @BUTTOM_ANDROID_BORDER_COLOR;
  }
}


.list {
  li {
    &.thumb {
      background-color: @LIST_BACKGROUND_COLOR;

      &.border,
      &.border-top,
      &.border-bottom,
      &.border-left,
      &.border-right {
        border-color: @LIST_BORDER_COLOR;
      }
    }

    &.anchor {
      background-color: @LIST_ANCHOR_BACKGROUND_COLOR;

      &.border,
      &.border-top,
      &.border-bottom,
      &.border-left,
      &.border-right {
        border-color: @LIST_ANCHOR_BORDER_COLOR;
      }
    }
  }
}



.text-normal {
  color: @TEXT_COLOR;
}
strong,
.textr-strong {
  color: @TEXT_COLOR_STRONG;
}
small,
.text-small {
  color: @TEXT_COLOR_SMALL;
}
a,
.text-primary {
  color: @TEXT_COLOR_PRIMARY;
}

.error,
.error.text,
.text-error {
  color: @TEXT_COLOR_ERROR;
}


.border-top {
  border-top-width: @BORDER_WIDTH;
  border-top-style: @BORDER_STYLE;
  border-top-color: @BORDER_COLOR;
}
.border-left {
  border-left-width: @BORDER_WIDTH;
  border-left-style: @BORDER_STYLE;
  border-left-color: @BORDER_COLOR;
}
.border-right {
  border-right-width: @BORDER_WIDTH;
  border-right-style: @BORDER_STYLE;
  border-right-color: @BORDER_COLOR;
}
.border-bottom {
  border-bottom-width: @BORDER_WIDTH;
  border-bottom-style: @BORDER_STYLE;
  border-bottom-color: @BORDER_COLOR;
}
.border-normal{
  border-color: @BORDER_COLOR;
}
.border-primary{
  border-color: @BORDER_COLOR_PRIMARY;
}
.border-error,
.error.border {
  border-color: @BORDER_COLOR_ERROR;
}

.border-radius {
  .border-radius(@BORDER_RADIUS);
}
/**
 * Stylesheet
 *
 * @class widget
 *
 */

/* =============== CLASSES =============== */
.hidden {
  display: none;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
.on-left {
  float: left;
}
.on-right {
  float: right;
}

/* =============== Scroll ================ */
.scroll {
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

/* =============== Form =============== */
form,
.form{
  input:not([type="checkbox"]),
  textarea,
  select,
  .progress,
  label.select{
    font-size: 1em;
    &.large {
      font-size: 1.5em;
    }
  }

  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  select,
  textarea,
  label.select {
    display: inline-block;
    width: 100%;
    padding: 0 0.5em;
    .transition(all 100ms linear);
    font-family: inherit;
    -webkit-appearance: none;
    -webkit-user-select: text;
    &:not(.border) {
      border: 0;
    }
    &:focus {
      outline: none !important;
    }
    &.border {
      &,
      > select {
        padding: 0.3em 0.4em;
      }
    }
  }
}

/* =============== Button =============== */
.button,
button {
  display: inline-block;
  line-height: 2.5em;

  &.small {
    line-height: 2.25em;
  }
  &.tiny {
    line-height: 2.0em;
  }
  &.anchor {
    width: 100%;
  }
}
/**
 * Stylesheet
 *
 * @class widget.notification
 *
 */

.notification {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1980;
  display: none;
  background-color: rgba(0,0,0,0.5);

  &.show {
    .display-box();
    .box-align(center);
    .box-pack(center);
  }

  .window {
    position: relative;
    opacity: 0;
    text-align: center;

    &.show {
      opacity: 1;
    }

    &.html {
      width: 100%;
      background: #fff;
    }
  }

  &.align-top {
    .box-align(start);
  }

  &.align-bottom {
    .box-align(end);
  }
}