/**
 * Stylesheet
 *
 * @namespace Lungo.Layout
 * @class List
 *
 * @author Javier Jimenez Villar <javi@tapquo.com> || @soyjavi
 */

.list {
  li {
    list-style-type: none;
    position: relative;
    text-align: -webkit-match-parent;
    line-height: inherit;

    &:not(.big) {
      padding: @INDENT;
    }

    &.thumb {
      .display-box();
      .box-orient(horizontal);
      > div {
        .box-flex(1);
      }

      &.big {
        > img {
          width: @LIST_BIG_IMAGE;
          height: @LIST_BIG_IMAGE;
        }
        > div {
          padding: 0.25em (@INDENT / 2);
        }
      }

      &:not(.big) {
        > img {
          width: @LIST_IMAGE;
          height: @LIST_IMAGE;
        }
        > div {
          padding-left: @INDENT;
        }
      }
    }

    &.arrow:after {
      @SIZE: 0.5em;
      position: absolute;
      right: @SIZE;
      top: 45%;
      width: @SIZE;
      height: @SIZE;
      content: '';
      border-right: (@SIZE / 2) solid;
      border-top: (@SIZE / 2) solid;
      .vendor(transform, rotate(45deg));
    }

    a {
      display: block;
      text-decoration: none;
    }

    &.anchor {
      padding: 0.25em 0.5em;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    strong,
    small {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: block;
    }

    small + .on-right {
      margin-left: 0;
      margin-top: -1.4em;
    }

    small,
    .anchor{
      font-size: @FONT_SIZE_SMALL;
    }
  }

  &.indented li:not(:last-child) {
    margin-bottom: @INDENT;
  }
}