.detail {
  width: 87.5%;
  margin: 0 auto;
  padding-top: 15%;
  text-aligen: center;

  .info {
    &.big {
      img {
        display: block;
        width: 100%;
        height: 55%;
      }
    }
  }
}