//@import "CSSmethods/vendor.styl"

/* CONSTANTS */
@HEADER_HEIGHT           : 46px;
@ASIDE_WIDTH             : 256px;

//vendor-prefixes
// w: -webkit-
// f: -moz-
// m: -ms-
// o: -o-
.vendor(@name, @args) {
  -webkit-@{name}: @args;
  -moz-@{name}: @args;
  -ms-@{name}: @args;
  -o-@{name}: @args;
  @{name}: @args;
}
.vendor-wmo(@name; @args) {
  -webkit-@{name}: @args;
  -ms-@{name}: @args;
  -o-@{name}: @args;
  @{name}: @args;
}
.vendor-wf(@name; @args) {
  -webkit-@{name}: @args;
  -moz-@{name}: @args;
  @{name}: @args;
}
.vendor-webkit(@name; @args) {
  -webkit-@{name}: @args;
  @{name}: @args;
}

// Box sizing
.box-sizing(@value) {
  .vendor-webkit(box-sizing, @value);
}

// Display flex
// -webkit-box: OLD - iOS 6-, Safari 3.1-6
// -moz-box: OLD - Firefox 19- (buggy but mostly works)
// -ms-flexbox: TWEENER - IE 10
// -webkit-flex: NEW - Chrome
// flex: NEW, Spec - Opera 12.1, Firefox 20+
.display-flex() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.flex-grow(@value) {
  -webkit-box-flex: @value;
  -moz-box-flex: @value;
  -ms-flex-grow: @value;
  -webkit-flex-grow: @value;
  flex-grow: @value;
}
// not support old
.flex-shrink(@value) {
  -ms-flex-shrink: @value;
  -webkit-flex-shrink: @value;
  flex-shrink: @value;
}
// not support old
.flex-basis(@value) {
  -ms-flex-basis: @value;
  -webkit-flex-basis: @value;
  flex-basis: @value;
}
.flex-direction(@value){
  & when(@value = column) {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
  }
  & when(@value = column-reverse) {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-box-direction: reverse;
    -moz-box-direction: reverse;
  }
  & when(@value = row) {
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
  }
  & when(@value = row-reverse) {
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -moz-box-direction: reverse;
  }
  -ms-flex-direction: @value;
  -webkit-flex-direction: @value;
  flex-direction: @value;
}
// not support old
.flex-wrap(@value) {
  -ms-flex-wrap: @value;
  -webkit-flex-wrap: @value;
  flex-wrap: @value;
}
.align-items(@value) {
  -webkit-box-align: @value;
  -moz-box-align: @value;
  & when(@value = flex-start){
    -webkit-box-align: start;
    -moz-box-align: start;
  }
  & when(@value = flex-end){
    -webkit-box-align: end;
    -moz-box-align: end;
  }
  -ms-align-items: @value;
  -webkit-align-items: @value;
  align-items: @value;
}
// not support old
.align-self(@value) {
  -ms-align-items: @value;
  -webkit-align-items: @value;
  align-items: @value;
}
.justify-content(@value) {
  -webkit-box-pack: @value;
  -moz-box-pack: @value;
  & when(@value = flex-start){
    -webkit-box-pack: start;
    -moz-box-pack: start;
  }
  & when(@value = flex-end){
    -webkit-box-pack: end;
    -moz-box-pack: end;
  }
  -ms-justify-content: @value;
  -webkit-justify-content: @value;
  justify-content: @value;
}
.box-flex(@value) {
  -webkit-box-flex: @value;
  -moz-box-flex: @value;
  -ms-flex: @value;
  -webkit-flex: @value;
  flex: @value;
}
.order(@value) {
  -webkit-box-ordinal-group: @value;
  -moz-box-ordinal-group: @value;
  -ms-flex-order: @value;
  -webkit-order: @value;
  order: @value;
}

// Border radius
.border-radius(@value) {
  .vendor(border-radius, @value);
}

// Backface visibility
.backface-visibility(@visibility) {
  .vendor-webkit(backface-visibili, @visibility);
}

// Box shadows
.box-shadow(@shadow) {
  .vendor-webkit(box-shadow, @shadow);
}

// Animations
// -webkit-: chrome 42-, safari, opera 29-, ios safari, android
.animation(@animation) {
  .vendor-wf(animation, @animation);
}
.animation-name(@name) {
  .vendor-wf(animation-name, @name);
}
.animation-duration(@duration) {
  .vendor-wf(animation-duration, @duration);
}
.animation-timing-function(@timing-function) {
  .vendor-wf(animation-timing-function, @timing-function);
}
.animation-delay(@delay) {
  .vendor-wf(animation-delay, @delay);
}
.animation-iteration-count(@iteration-count) {
  .vendor-wf(animation-iteration-count, @iteration-count);
}
.animation-direction(@direction) {
  .vendor-wf(animation-direction, @direction);
}
.animation-fill-mode(@fill-mode) {
  .vendor-wf(animation-fill-mode, @fill-mode);
}

// Transformations
// -ms-: ie 9;
.scale(@ratio) {
  .vendor-wmo(transform, scale(@ratio));
}
.scale(@ratioX; @ratioY) {
  .vendor-wmo(transform, scale(@ratioX, @ratioY));
}
.scaleX(@ratio) {
  .vendor-wmo(transform, scaleX(@ratio));
}
.scaleY(@ratio) {
  .vendor-wmo(transform, scaleY(@ratio));
}
.skew(@x; @y) {
  .vendor-wmo(transform, skewX(@x) skewY(@y));
}
.translate(@x; @y) {
  .vendor-wmo(transform, translate(@x, @y));
}
.translate3d(@x; @y; @z) {
  .vendor-wmo(transform, translate3d(@x, @y, @z));
}
.rotate(@degrees) {
  .vendor-wmo(transform, rotate(@degrees));
}
.rotateX(@degrees) {
  .vendor-wmo(transform, rotateX(@degrees));
}
.rotateY(@degrees) {
  .vendor-wmo(transform, rotateY(@degrees));
}
.perspective(@perspective) {
  .vendor-wmo(perspective,  @perspective);
}
.perspective-origin(@perspective) {
  .vendor-wmo(perspective-origin,  @perspective);
}
.transform-origin(@origin) {
  .vendor-wmo(transform-origin,  @origin);
}

// Transitions
.transition(@transition) {
  .vendor-webkit(transition, @transition);
}
.transition-property(@transition-property) {
  .vendor-webkit(transition-property, @transition-property);
}
.transition-delay(@transition-delay) {
  .vendor-webkit(transition-delay, @transition-delay);
}
.transition-duration(@transition-duration) {
  .vendor-webkit(transition-duration, @transition-duration);
}
.transition-timing-function(@timing-function) {
  .vendor-webkit(transition-timing-function, @transition-timing-function);
}

// User select
// -ms-: ie(ie < 10 not supported)
// -moz-: firefox
// -webkit-: chrome, safari. opera, ios safari, android
.user-select(@select) {
  .vendor(user-select,  @select);
}

// Appearance
.appearance(@value) {
  .vendor-wf(appearance, @value);
}